flow_guayo_node.json
[{"id":"393565a3.10a442","type":"tab","label":"Globals flows","disabled":false,"info":""},{"id":"7475cc6f.ab0824","type":"tab","label":"Scada Station MQTT","disabled":false,"info":""},{"id":"8338bf8a.c349a","type":"tab","label":"Postgres example flows","disabled":false,"info":"# Postgres example flows\n\nThese flows demonstrate the use of the\n`node-red-contrib-postgres-multi` node.\n\n## Setup\n\nFor the flows in this tab,\nyou'll need a PostgreSQL table like so:\n\n    begin;\n    create table mytable\n    (\n        id integer not null,\n        message character varying(20)\n    );\n    create unique index on mytable (id);\n    commit;\n\nThen you'll need to configure the postgres\nblocks to have access to this database and table.\n"},{"id":"58c732e.5f3a14c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROTO_TFE12_2","name":"","usetls":false,"tls":"2915cbd5.2d5a5c"},{"id":"2915cbd5.2d5a5c","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"3a0593dc.89b4a4","type":"mqtt-broker","z":"","name":"","broker":"193.147.109.3","port":"1883","clientid":"tfe12_west","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1302173b.20a819","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"PROTO_TFE12_2","name":"","usetls":false,"tls":"eb3d16c6.dbba7"},{"id":"eb3d16c6.dbba7","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6836a5cf.3a6acc","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"https","database":"PRUEBAS","name":"","usetls":false,"tls":"a54d854.4df2df8"},{"id":"5c0d32f0.4821a4","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"https","database":"PRUEBAS","name":"","usetls":false,"tls":"37e9ceab.0048ba"},{"id":"a54d854.4df2df8","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"37e9ceab.0048ba","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"d535e8e9.86a2a","type":"ui_tab","z":"7475cc6f.ab0824","name":"INVOLCAN","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"406e0c5.43ff3f4","type":"ui_group","z":"7475cc6f.ab0824","name":"Difusse Emission","tab":"bcb5ce61.19f5c","disp":true,"width":"6","collapse":true},{"id":"1650c0f3.ba5737","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"bcb5ce61.19f5c","order":2,"disp":true,"width":6},{"id":"947d24fc.12e5b","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 3","tab":"bcb5ce61.19f5c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fabc3596.fba64","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 4","tab":"bcb5ce61.19f5c","order":4,"disp":true,"width":6},{"id":"e9595716.ed4e28","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 5","tab":"bcb5ce61.19f5c","order":5,"disp":true,"width":6},{"id":"51137a26.d85764","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 1","tab":"bf6316f8.3c1508","order":1,"disp":true,"width":6},{"id":"b9d39cb5.b29488","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"bf6316f8.3c1508","order":2,"disp":true,"width":6},{"id":"604ab3c9.c734f4","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 1","tab":"de7e5c2e.7f7888","order":1,"disp":true,"width":6},{"id":"8a2410c2.6bc6a8","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"de7e5c2e.7f7888","order":2,"disp":true,"width":6},{"id":"500f7138.eba1f8","type":"ui_group","z":"7475cc6f.ab0824","name":"Wetter Aktuell","tab":"7a58566.7dcf1a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"355b3952.154a9e","type":"postgresdb","z":"","hostname":"192.168.1.50","port":"5432","db":"scada_data_tfe_01_12","ssl":false},{"id":"f1882c37.99416","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"West Systems Importer","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"20ad074d.98a918","type":"mqtt out","z":"7475cc6f.ab0824","name":"guayota/continuo/station/device/measures","topic":"","qos":"1","retain":"","broker":"3a0593dc.89b4a4","x":881,"y":347,"wires":[]},{"id":"52c77e4a.dcf738","type":"comment","z":"7475cc6f.ab0824","name":"BBDD to MQTT","info":"Lectura de measurements en influx","x":107.00006103515625,"y":189,"wires":[]},{"id":"c330e9bd.f93a6","type":"function","z":"7475cc6f.ab0824","name":"filter empty temps & set topic","func":"if (msg.payload.length!==0){\n    let station=flow.get(\"station\");\n    let device=flow.get(\"device\");\n    let topic=\"guayota/continuo/\"+station.toLowerCase()+\"/\"+device.toLowerCase()+\"/measures\";\n    msg.topic=topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":559,"y":298,"wires":[["20ad074d.98a918"]]},{"id":"95bebd16.922ea8","type":"function","z":"7475cc6f.ab0824","name":"flow vars","func":"flow.set('station','TFE12');\nflow.set('device','west_12');\nflow.set('station_type','difusse_emission');\n//flow.set('station_type','radon_activity');\nflow.set('last_measure_sent',new Date(2018, 0, 1, 0, 0, 0, 0));\n\n\n","outputs":1,"noerr":0,"x":321.00006103515625,"y":93,"wires":[["8e9e46f8.98b7e"]]},{"id":"ad56813e.bc26c","type":"inject","z":"7475cc6f.ab0824","name":"","topic":"","payload":"On power up","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":131.00006103515625,"y":93,"wires":[["95bebd16.922ea8"]]},{"id":"8e9e46f8.98b7e","type":"debug","z":"7475cc6f.ab0824","name":"flow vars","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480.00006103515625,"y":92,"wires":[]},{"id":"e7338b33.10b33","type":"comment","z":"7475cc6f.ab0824","name":"Set flow variables","info":"Setea variables del flujo.\n- nombre de la estación","x":121.00006103515625,"y":53,"wires":[]},{"id":"ce7a89f4.06d1a8","type":"inject","z":"7475cc6f.ab0824","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":107,"y":378,"wires":[["7238f80a.34ed88"]]},{"id":"7238f80a.34ed88","type":"function","z":"7475cc6f.ab0824","name":"west data generator","func":"station= flow.get(\"station\");\nstation_type=flow.get(\"station_type\");\ndevice=flow.get(\"device\");\nlast_measure_sent= flow.get(\"last_measure_sent\");\ntimestamp= new Date(last_measure_sent.setHours(last_measure_sent.getHours()+1));\n\n\nco2_flux_mol=     Math.floor(Math.random() *  ( 209.0584-151.0021) + 150) / 95.1 * 100.00;\nco2_errq=         Math.floor(Math.random() * (1000 - 750) + 750) / 1000;\nair_temp_c=       Math.floor (Math.random() *  (11.0 - (-1.0) ) + 1.0)/ 95.1 * 100.00;\nair_r_h=          Math.floor (Math.random() *  (10.363901 -4.363901) +5)/ 95.1 * 100.00;\nwind_speed=       Math.floor (Math.random() *  (0.73- 5.73)+ 0.75)/ 95.1 * 100.00;\nsoil_r_h=         Math.floor (Math.random() *  (32.803-36.803)+ 35.0)/ 95.1 * 100.00;\nsoil_temp_c=      Math.floor (Math.random() *  (80.00-75)+75.0)/ 95.1 * 100.00;\nwind_dir_n=       Math.floor (Math.random() *  (32.00 -9 )+9.0)/ 95.1 * 100.00;\nrain_mm=          Math.floor (Math.random() *  (999.00-1001.00 )+999.0)/ 95.1 * 100.00;\nh2s_flux_ppm=     Math.floor (Math.random() *  (2000 - 750) + 750) / 100;\nh2s_errq=         Math.floor (Math.random() *  (1000 - 750) + 750) / 1000;\nco2_ppm=          Math.floor (Math.random() *  (36000.00-60000.00 ) + 36000.00)/ 95.1 * 100.00;\npump_flow_sccm=   Math.floor (Math.random() *  (1200.00-1175.00)+ 1175.00)/ 95.1 * 100.00;\nh2s_ppm=          Math.floor (Math.random() *  (6.807644-4.5)+4.5)/ 95.1 * 100.00;\nbar_press_mbar=   Math.floor (Math.random() *  (750.00 -670.1659)+669.55)/ 95.1 * 100.00;\np_supply_v=       Math.floor (Math.random() *  (13.13-12)+12.000)/ 95.1 * 100.00;\nflujo_co2_kg_m2d1=Math.floor (Math.random() *  (18.00-13 )+13.00)/ 95.1 * 100.00;\nrain_calc=        Math.floor (Math.random() *  (2-1 )+0.1)/ 95.1 * 100.00;\nflujo_h2s_g_m2d1= Math.floor (Math.random() *  (2.20-1.75 )+1.75)/ 95.1 * 100.00;\nratio_c_s=        Math.floor (Math.random() *  (2007.00-1850.00 )+1850.00)/ 95.1 * 100.00;\nflujo_co2_kg_m2d1_filtrado=Math.floor (Math.random() *  (18.00-13.04)+13.04)/ 95.1 * 100.00;\n\nmsg.payload={\n    \"co2_flux_mol\":co2_flux_mol,\n    \"co2_errq\":         co2_errq,\n    \"air_temp_c\":       air_temp_c,\n    \"air_r_h\":          air_r_h,\n    \"wind_speed\":       wind_speed,\n    \"soil_r_h\":         soil_r_h,\n    \"soil_temp_c\":      soil_temp_c,\n    \"wind_dir_n\":       wind_dir_n,\n    \"rain_mm\":          rain_mm,\n    \"h2s_flux_ppm\":     h2s_flux_ppm,\n    \"h2s_errq\":         h2s_errq,\n    \"co2_ppm\":          co2_ppm,\n    \"pump_flow_sccm\":   pump_flow_sccm,\n    \"h2s_ppm\":          h2s_ppm,\n    \"bar_press_mbar\":   bar_press_mbar,\n    \"p_supply_v\":       p_supply_v,\n    \"flujo_co2_kg_m2d1\":flujo_co2_kg_m2d1,\n    \"rain_calc\":        rain_calc,\n    \"flujo_h2s_g_m2d1\": flujo_h2s_g_m2d1,\n    \"ratio_c_s\":        ratio_c_s,\n    \"flujo_co2_kg_m2d1_filtrado\":flujo_co2_kg_m2d1_filtrado,\n    \"device\":device,\n    \"station_type\":station_type,\n    \"station\": station,\n    \"time\":timestamp\n}\n//set last measure sent\nflow.set(\"last_measure_sent\",timestamp)\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":378,"wires":[["8895c60e.60e8f8","c330e9bd.f93a6"]]},{"id":"8895c60e.60e8f8","type":"debug","z":"7475cc6f.ab0824","name":"west dat gen debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":521.5,"y":449,"wires":[]},{"id":"164818d9.2f64ff","type":"mqtt in","z":"7475cc6f.ab0824","name":"","topic":"guayota/continuo/tfe12/last_measures","qos":"1","datatype":"json","broker":"3a0593dc.89b4a4","x":188,"y":267,"wires":[[]]},{"id":"8fff4865.daf0f8","type":"function","z":"393565a3.10a442","name":"General vars","func":"global.set('var1','hola');\n\n\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["6b5f8952.852fc8"]]},{"id":"c3c9508.808ae3","type":"inject","z":"393565a3.10a442","name":"","topic":"","payload":"On power up","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":80,"wires":[["8fff4865.daf0f8"]]},{"id":"6b5f8952.852fc8","type":"debug","z":"393565a3.10a442","name":"Global vars","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":80,"wires":[]},{"id":"e11e5f08.f1e5d","type":"comment","z":"393565a3.10a442","name":"Set global variables","info":"Setea variables globales del nodo.\n- nombre de la estación","x":130,"y":40,"wires":[]},{"id":"4f3331ed.302ed","type":"comment","z":"8338bf8a.c349a","name":"Reset","info":"This flow clears any contents from\nthe `mytable` table and inserts a single\nrecord:\n\n    id   message\n    1    'hello world'\n","x":90,"y":40,"wires":[]},{"id":"f109cd9a.0cf598","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["8e42548f.a35dc8"]]},{"id":"8e42548f.a35dc8","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query: 'insert into mytable (id, message) values ($1, $2)',\n        params: [1, 'hello world'],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["770a1499.ee42dc"]]},{"id":"71b6556c.41cbcc","type":"debug","z":"8338bf8a.c349a","name":"reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":773.5,"y":77,"wires":[]},{"id":"8836dc70.77a028","type":"comment","z":"8338bf8a.c349a","name":"Demo","info":"This flow demonstrates:\n\n* transactions and auto-commit queries\n* positional arguments (i.e. $argName)\n* query output from multiple queries\n","x":86.5,"y":182,"wires":[]},{"id":"d0a41b5e.77224","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["f01229d3.8c62b"]]},{"id":"f01229d3.8c62b","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query:\n            'insert into mytable (id, message) ' +\n            'values ($foo, $bar), ($baz, $boop)',\n        params: {\n            foo: 10,\n            bar: 'hello',\n            baz: 20,\n            boop: 'world',\n        },\n    },\n    {\n        query: 'commit',\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'insert into mytable (id, message) values (30, \\'xtra\\')',\n    },\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["4f9f9e65.b01e"]]},{"id":"55df998b.302dd8","type":"debug","z":"8338bf8a.c349a","name":"demo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":659.5,"y":240,"wires":[]},{"id":"354f3eac.a79f62","type":"comment","z":"8338bf8a.c349a","name":"Rollback","info":"If you start a transaction and don't commit it,\nyour changes will not be saved.","x":100,"y":320,"wires":[]},{"id":"ac5e3819.c9bbd8","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["a98bd8ca.33c83"]]},{"id":"a98bd8ca.33c83","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query:\n            'insert into mytable (id, message) ' +\n            'values ($foo, $bar), ($baz, $boop), ($bing, $bang)',\n        params: {\n            foo: 10,\n            bar: 'one does not simply',\n            baz: 20,\n            boop: 'begin',\n            bing: 30,\n            bang: 'but not commit',\n        },\n    },\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["eeafbfa5.720148"]]},{"id":"fd3d4d6a.e12628","type":"debug","z":"8338bf8a.c349a","name":"rollback 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":669.5,"y":380,"wires":[]},{"id":"3b49d761.e22ce","type":"function","z":"8338bf8a.c349a","name":"check","func":"\nmsg.payload = [\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["122878db.460ecf"]]},{"id":"4d22ba8.97100c4","type":"debug","z":"8338bf8a.c349a","name":"rollback 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":669.5,"y":460,"wires":[]},{"id":"80e35abc.f9571","type":"comment","z":"8338bf8a.c349a","name":"Select data","info":"\n","x":110,"y":520,"wires":[]},{"id":"aa1fa2e7.eab628","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":580,"wires":[["8ae76d7d.8cd24"]]},{"id":"8ae76d7d.8cd24","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["6d2dd1a6.e4d6c"]]},{"id":"23b23d8a.ef97a2","type":"debug","z":"8338bf8a.c349a","name":"select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":659.5,"y":580,"wires":[]},{"id":"770a1499.ee42dc","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"Desa tfe_01_12 1.50","output":true,"outputs":1,"x":522,"y":102,"wires":[["71b6556c.41cbcc"]]},{"id":"4f9f9e65.b01e","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":240,"wires":[["55df998b.302dd8"]]},{"id":"eeafbfa5.720148","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":380,"wires":[["fd3d4d6a.e12628","3b49d761.e22ce"]]},{"id":"122878db.460ecf","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":460,"wires":[["4d22ba8.97100c4"]]},{"id":"6d2dd1a6.e4d6c","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":580,"wires":[["23b23d8a.ef97a2"]]}]