flow_guayo_node.json
[{"id":"393565a3.10a442","type":"tab","label":"Globals flows","disabled":false,"info":""},{"id":"7475cc6f.ab0824","type":"tab","label":"Scada Station MQTT","disabled":false,"info":""},{"id":"8338bf8a.c349a","type":"tab","label":"Postgres example flows","disabled":false,"info":"# Postgres example flows\n\nThese flows demonstrate the use of the\n`node-red-contrib-postgres-multi` node.\n\n## Setup\n\nFor the flows in this tab,\nyou'll need a PostgreSQL table like so:\n\n    begin;\n    create table mytable\n    (\n        id integer not null,\n        message character varying(20)\n    );\n    create unique index on mytable (id);\n    commit;\n\nThen you'll need to configure the postgres\nblocks to have access to this database and table.\n"},{"id":"2915cbd5.2d5a5c","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"3a0593dc.89b4a4","type":"mqtt-broker","z":"","name":"","broker":"193.147.109.3","port":"1883","clientid":"tfe12_west","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eb3d16c6.dbba7","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"a54d854.4df2df8","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"37e9ceab.0048ba","type":"tls-config","z":"","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"355b3952.154a9e","type":"postgresdb","z":"","hostname":"postgresWestSystems","port":"5432","db":"scada_data_tfe_01_12","ssl":false},{"id":"d535e8e9.86a2a","type":"ui_tab","z":"7475cc6f.ab0824","name":"INVOLCAN","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"406e0c5.43ff3f4","type":"ui_group","z":"7475cc6f.ab0824","name":"Difusse Emission","tab":"bcb5ce61.19f5c","disp":true,"width":"6","collapse":true},{"id":"1650c0f3.ba5737","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"bcb5ce61.19f5c","order":2,"disp":true,"width":6},{"id":"947d24fc.12e5b","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 3","tab":"bcb5ce61.19f5c","order":3,"disp":true,"width":"6","collapse":false},{"id":"fabc3596.fba64","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 4","tab":"bcb5ce61.19f5c","order":4,"disp":true,"width":6},{"id":"e9595716.ed4e28","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 5","tab":"bcb5ce61.19f5c","order":5,"disp":true,"width":6},{"id":"51137a26.d85764","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 1","tab":"bf6316f8.3c1508","order":1,"disp":true,"width":6},{"id":"b9d39cb5.b29488","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"bf6316f8.3c1508","order":2,"disp":true,"width":6},{"id":"604ab3c9.c734f4","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 1","tab":"de7e5c2e.7f7888","order":1,"disp":true,"width":6},{"id":"8a2410c2.6bc6a8","type":"ui_group","z":"7475cc6f.ab0824","name":"Group 2","tab":"de7e5c2e.7f7888","order":2,"disp":true,"width":6},{"id":"500f7138.eba1f8","type":"ui_group","z":"7475cc6f.ab0824","name":"Wetter Aktuell","tab":"7a58566.7dcf1a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"20ad074d.98a918","type":"mqtt out","z":"7475cc6f.ab0824","name":"guayota/continuo/station/device/measures","topic":"","qos":"1","retain":"","broker":"3a0593dc.89b4a4","x":881,"y":347,"wires":[]},{"id":"52c77e4a.dcf738","type":"comment","z":"7475cc6f.ab0824","name":"BBDD to MQTT","info":"Lectura de measurements en influx","x":107.00006103515625,"y":189,"wires":[]},{"id":"c330e9bd.f93a6","type":"function","z":"7475cc6f.ab0824","name":"filter empty temps & set topic","func":"if (msg.payload.length!==0){\n    let station=flow.get(\"station\");\n    let device=flow.get(\"device\");\n    let topic=\"guayota/continuo/\"+station.toLowerCase()+\"/\"+device.toLowerCase()+\"/measures\";\n    msg.topic=topic;\n    return msg;\n}","outputs":1,"noerr":0,"x":559,"y":298,"wires":[["20ad074d.98a918"]]},{"id":"95bebd16.922ea8","type":"function","z":"7475cc6f.ab0824","name":"flow vars","func":"flow.set('station','TFE12');\nflow.set('device','west_12');\nflow.set('station_type','difusse_emission');\n//flow.set('station_type','radon_activity');\nflow.set('last_measure_sent',new Date(2018, 0, 1, 0, 0, 0, 0));\n\n\n","outputs":1,"noerr":0,"x":321.00006103515625,"y":93,"wires":[["8e9e46f8.98b7e"]]},{"id":"ad56813e.bc26c","type":"inject","z":"7475cc6f.ab0824","name":"","topic":"","payload":"On power up","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":131.00006103515625,"y":93,"wires":[["95bebd16.922ea8"]]},{"id":"8e9e46f8.98b7e","type":"debug","z":"7475cc6f.ab0824","name":"flow vars","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480.00006103515625,"y":92,"wires":[]},{"id":"e7338b33.10b33","type":"comment","z":"7475cc6f.ab0824","name":"Set flow variables","info":"Setea variables del flujo.\n- nombre de la estación","x":121.00006103515625,"y":53,"wires":[]},{"id":"ce7a89f4.06d1a8","type":"inject","z":"7475cc6f.ab0824","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":107,"y":378,"wires":[["7238f80a.34ed88"]]},{"id":"7238f80a.34ed88","type":"function","z":"7475cc6f.ab0824","name":"west data generator","func":"station= flow.get(\"station\");\nstation_type=flow.get(\"station_type\");\ndevice=flow.get(\"device\");\nlast_measure_sent= flow.get(\"last_measure_sent\");\ntimestamp= new Date(last_measure_sent.setHours(last_measure_sent.getHours()+1));\n\n\nco2_flux_mol=     Math.floor(Math.random() *  ( 209.0584-151.0021) + 150) / 95.1 * 100.00;\nco2_errq=         Math.floor(Math.random() * (1000 - 750) + 750) / 1000;\nair_temp_c=       Math.floor (Math.random() *  (11.0 - (-1.0) ) + 1.0)/ 95.1 * 100.00;\nair_r_h=          Math.floor (Math.random() *  (10.363901 -4.363901) +5)/ 95.1 * 100.00;\nwind_speed=       Math.floor (Math.random() *  (0.73- 5.73)+ 0.75)/ 95.1 * 100.00;\nsoil_r_h=         Math.floor (Math.random() *  (32.803-36.803)+ 35.0)/ 95.1 * 100.00;\nsoil_temp_c=      Math.floor (Math.random() *  (80.00-75)+75.0)/ 95.1 * 100.00;\nwind_dir_n=       Math.floor (Math.random() *  (32.00 -9 )+9.0)/ 95.1 * 100.00;\nrain_mm=          Math.floor (Math.random() *  (999.00-1001.00 )+999.0)/ 95.1 * 100.00;\nh2s_flux_ppm=     Math.floor (Math.random() *  (2000 - 750) + 750) / 100;\nh2s_errq=         Math.floor (Math.random() *  (1000 - 750) + 750) / 1000;\nco2_ppm=          Math.floor (Math.random() *  (36000.00-60000.00 ) + 36000.00)/ 95.1 * 100.00;\npump_flow_sccm=   Math.floor (Math.random() *  (1200.00-1175.00)+ 1175.00)/ 95.1 * 100.00;\nh2s_ppm=          Math.floor (Math.random() *  (6.807644-4.5)+4.5)/ 95.1 * 100.00;\nbar_press_mbar=   Math.floor (Math.random() *  (750.00 -670.1659)+669.55)/ 95.1 * 100.00;\np_supply_v=       Math.floor (Math.random() *  (13.13-12)+12.000)/ 95.1 * 100.00;\nflujo_co2_kg_m2d1=Math.floor (Math.random() *  (18.00-13 )+13.00)/ 95.1 * 100.00;\nrain_calc=        Math.floor (Math.random() *  (2-1 )+0.1)/ 95.1 * 100.00;\nflujo_h2s_g_m2d1= Math.floor (Math.random() *  (2.20-1.75 )+1.75)/ 95.1 * 100.00;\nratio_c_s=        Math.floor (Math.random() *  (2007.00-1850.00 )+1850.00)/ 95.1 * 100.00;\nflujo_co2_kg_m2d1_filtrado=Math.floor (Math.random() *  (18.00-13.04)+13.04)/ 95.1 * 100.00;\n\nmsg.payload={\n    \"co2_flux_mol\":co2_flux_mol,\n    \"co2_errq\":         co2_errq,\n    \"air_temp_c\":       air_temp_c,\n    \"air_r_h\":          air_r_h,\n    \"wind_speed\":       wind_speed,\n    \"soil_r_h\":         soil_r_h,\n    \"soil_temp_c\":      soil_temp_c,\n    \"wind_dir_n\":       wind_dir_n,\n    \"rain_mm\":          rain_mm,\n    \"h2s_flux_ppm\":     h2s_flux_ppm,\n    \"h2s_errq\":         h2s_errq,\n    \"co2_ppm\":          co2_ppm,\n    \"pump_flow_sccm\":   pump_flow_sccm,\n    \"h2s_ppm\":          h2s_ppm,\n    \"bar_press_mbar\":   bar_press_mbar,\n    \"p_supply_v\":       p_supply_v,\n    \"flujo_co2_kg_m2d1\":flujo_co2_kg_m2d1,\n    \"rain_calc\":        rain_calc,\n    \"flujo_h2s_g_m2d1\": flujo_h2s_g_m2d1,\n    \"ratio_c_s\":        ratio_c_s,\n    \"flujo_co2_kg_m2d1_filtrado\":flujo_co2_kg_m2d1_filtrado,\n    \"device\":device,\n    \"station_type\":station_type,\n    \"station\": station,\n    \"time\":timestamp\n}\n//set last measure sent\nflow.set(\"last_measure_sent\",timestamp)\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":378,"wires":[["8895c60e.60e8f8","c330e9bd.f93a6"]]},{"id":"8895c60e.60e8f8","type":"debug","z":"7475cc6f.ab0824","name":"west dat gen debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":521.5,"y":449,"wires":[]},{"id":"164818d9.2f64ff","type":"mqtt in","z":"7475cc6f.ab0824","name":"","topic":"guayota/continuo/tfe12/last_measures","qos":"1","datatype":"json","broker":"3a0593dc.89b4a4","x":188,"y":267,"wires":[[]]},{"id":"8fff4865.daf0f8","type":"function","z":"393565a3.10a442","name":"General vars","func":"global.set('var1','hola');\n\n\n","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["6b5f8952.852fc8"]]},{"id":"c3c9508.808ae3","type":"inject","z":"393565a3.10a442","name":"","topic":"","payload":"On power up","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":130,"y":80,"wires":[["8fff4865.daf0f8"]]},{"id":"6b5f8952.852fc8","type":"debug","z":"393565a3.10a442","name":"Global vars","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":80,"wires":[]},{"id":"e11e5f08.f1e5d","type":"comment","z":"393565a3.10a442","name":"Set global variables","info":"Setea variables globales del nodo.\n- nombre de la estación","x":130,"y":40,"wires":[]},{"id":"4f3331ed.302ed","type":"comment","z":"8338bf8a.c349a","name":"Reset","info":"This flow clears any contents from\nthe `mytable` table and inserts a single\nrecord:\n\n    id   message\n    1    'hello world'\n","x":90,"y":40,"wires":[]},{"id":"f109cd9a.0cf598","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":100,"wires":[["8e42548f.a35dc8"]]},{"id":"8e42548f.a35dc8","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query: 'insert into mytable (id, message) values ($1, $2)',\n        params: [1, 'hello world'],\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["770a1499.ee42dc"]]},{"id":"71b6556c.41cbcc","type":"debug","z":"8338bf8a.c349a","name":"reset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":773.5,"y":77,"wires":[]},{"id":"8836dc70.77a028","type":"comment","z":"8338bf8a.c349a","name":"Demo","info":"This flow demonstrates:\n\n* transactions and auto-commit queries\n* positional arguments (i.e. $argName)\n* query output from multiple queries\n","x":86.5,"y":182,"wires":[]},{"id":"d0a41b5e.77224","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["f01229d3.8c62b"]]},{"id":"f01229d3.8c62b","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query:\n            'insert into mytable (id, message) ' +\n            'values ($foo, $bar), ($baz, $boop)',\n        params: {\n            foo: 10,\n            bar: 'hello',\n            baz: 20,\n            boop: 'world',\n        },\n    },\n    {\n        query: 'commit',\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'insert into mytable (id, message) values (30, \\'xtra\\')',\n    },\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["4f9f9e65.b01e"]]},{"id":"55df998b.302dd8","type":"debug","z":"8338bf8a.c349a","name":"demo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":659.5,"y":240,"wires":[]},{"id":"354f3eac.a79f62","type":"comment","z":"8338bf8a.c349a","name":"Rollback","info":"If you start a transaction and don't commit it,\nyour changes will not be saved.","x":100,"y":320,"wires":[]},{"id":"ac5e3819.c9bbd8","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":380,"wires":[["a98bd8ca.33c83"]]},{"id":"a98bd8ca.33c83","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'delete from mytable',\n    },\n    {\n        query:\n            'insert into mytable (id, message) ' +\n            'values ($foo, $bar), ($baz, $boop), ($bing, $bang)',\n        params: {\n            foo: 10,\n            bar: 'one does not simply',\n            baz: 20,\n            boop: 'begin',\n            bing: 30,\n            bang: 'but not commit',\n        },\n    },\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":380,"wires":[["eeafbfa5.720148"]]},{"id":"fd3d4d6a.e12628","type":"debug","z":"8338bf8a.c349a","name":"rollback 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":669.5,"y":380,"wires":[]},{"id":"3b49d761.e22ce","type":"function","z":"8338bf8a.c349a","name":"check","func":"\nmsg.payload = [\n    {\n        query: 'select message from mytable order by id',\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":460,"wires":[["122878db.460ecf"]]},{"id":"4d22ba8.97100c4","type":"debug","z":"8338bf8a.c349a","name":"rollback 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":669.5,"y":460,"wires":[]},{"id":"80e35abc.f9571","type":"comment","z":"8338bf8a.c349a","name":"Select data","info":"\n","x":110,"y":520,"wires":[]},{"id":"aa1fa2e7.eab628","type":"inject","z":"8338bf8a.c349a","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":580,"wires":[["8ae76d7d.8cd24"]]},{"id":"8ae76d7d.8cd24","type":"function","z":"8338bf8a.c349a","name":"prepare","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'select * from mytable',\n        output: true,\n    },\n    {\n        query: 'commit',\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["6d2dd1a6.e4d6c"]]},{"id":"23b23d8a.ef97a2","type":"debug","z":"8338bf8a.c349a","name":"select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":659.5,"y":580,"wires":[]},{"id":"770a1499.ee42dc","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"Desa tfe_01_12 1.50","output":true,"outputs":1,"x":520,"y":100,"wires":[["71b6556c.41cbcc"]]},{"id":"4f9f9e65.b01e","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":240,"wires":[["55df998b.302dd8"]]},{"id":"eeafbfa5.720148","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":380,"wires":[["fd3d4d6a.e12628","3b49d761.e22ce"]]},{"id":"122878db.460ecf","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":460,"wires":[["4d22ba8.97100c4"]]},{"id":"6d2dd1a6.e4d6c","type":"postgres","z":"8338bf8a.c349a","postgresdb":"355b3952.154a9e","name":"","output":true,"outputs":1,"x":480,"y":580,"wires":[["23b23d8a.ef97a2"]]},{"id":"bfee7735.f483c8","type":"comment","z":"7475cc6f.ab0824","name":"Demo","info":"This flow demonstrates:\n\n* transactions and auto-commit queries\n* positional arguments (i.e. $argName)\n* query output from multiple queries\n","x":90,"y":540,"wires":[]},{"id":"f1bbc665.2b199","type":"inject","z":"7475cc6f.ab0824","name":"click me","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123.5,"y":598,"wires":[["965bd78d.e70a1"]]},{"id":"965bd78d.e70a1","type":"function","z":"7475cc6f.ab0824","name":"get channels","func":"\nmsg.payload = [\n    {\n        query: 'begin',\n    },\n    {\n        query: 'select * from \"public\".channels c where c.stationid=$stationid and c.active<>$active order by id',\n        params: {\n            stationid: 'TFE01',\n            active: 0,\n            baz: 20,\n            boop: 'world',\n        },\n        output: true,\n    },\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":313.5,"y":598,"wires":[["827050a3.7e1da"]]},{"id":"54d14354.b73e64","type":"debug","z":"7475cc6f.ab0824","name":"channels","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":520,"wires":[]},{"id":"827050a3.7e1da","type":"postgres","z":"7475cc6f.ab0824","postgresdb":"355b3952.154a9e","name":"scada_data_tfe__01_12_hie06","output":true,"outputs":1,"x":553.5,"y":598,"wires":[["54d14354.b73e64","af491337.471378","64f78ad0.728d44"]]},{"id":"5b041977.58a06","type":"comment","z":"7475cc6f.ab0824","name":"channels json output","info":"[\n {\n   \"id\": 1,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 1,\n   \"active\": -1,\n   \"name\": \"RecordID\",\n   \"description\": \"RecordID\",\n   \"unit\": \"\",\n   \"fullscale\": 32768,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 1,\n   \"datalen\": 5,\n   \"datafmt\": \"#####\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 2,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 2,\n   \"active\": -1,\n   \"name\": \"Date\",\n   \"description\": \"Analisys date\",\n   \"unit\": \"\",\n   \"fullscale\": 0,\n   \"lowscale\": 0,\n   \"rowonpanel\": 1,\n   \"panelpage\": 1,\n   \"formatstring\": null,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 6,\n   \"datalen\": 12,\n   \"datafmt\": \"\",\n   \"dataformattype\": 4,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 3,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 3,\n   \"active\": -1,\n   \"name\": \"P.Supply\",\n   \"description\": \"Power supply\",\n   \"unit\": \"V\",\n   \"fullscale\": 15,\n   \"lowscale\": 10,\n   \"rowonpanel\": 12,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 0.1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 1,\n   \"activethresholds\": 0,\n   \"upalarm\": 14.5,\n   \"upprealarm\": 13.9,\n   \"dnprealarm\": 10.9,\n   \"dnalarm\": 11.3,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 18,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 9,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 4,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 4,\n   \"active\": -1,\n   \"name\": \"DeltaT\",\n   \"description\": \"Interval between samples\",\n   \"unit\": \"s\",\n   \"fullscale\": 10,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 0.01,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 22,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 5,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 5,\n   \"active\": -1,\n   \"name\": \"Num.Samples\",\n   \"description\": \"Number of samples in flux curves\",\n   \"unit\": \"#\",\n   \"fullscale\": 1000,\n   \"lowscale\": 1,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 25,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 6,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 6,\n   \"active\": -1,\n   \"name\": \"CO2 FS\",\n   \"description\": \"Carbon dioxide (Ch0) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 10000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 30,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 2,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 7,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 7,\n   \"active\": 0,\n   \"name\": \"H2S FS\",\n   \"description\": \"Hydrogen sulphide (Ch2) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 66,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 8,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 8,\n   \"active\": -1,\n   \"name\": \"Flux Curves\",\n   \"description\": \"Avalaible flux curves\",\n   \"unit\": \"\",\n   \"fullscale\": 255,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 28,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 9,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 9,\n   \"active\": -1,\n   \"name\": \"C/S C.Ratio\",\n   \"description\": \"CO2/H2S Concentration ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 8,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 660,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 10,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 10,\n   \"active\": -1,\n   \"name\": \"C/S F.Ratio\",\n   \"description\": \"CO2/H2S flux ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 9,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 663,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 11,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 11,\n   \"active\": -1,\n   \"name\": \"Air CO2\",\n   \"description\": \"CO2\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 2,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 35,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 600,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 12,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 12,\n   \"active\": -1,\n   \"name\": \"CO2 Min\",\n   \"description\": \"CO2 minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 40,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 13,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 13,\n   \"active\": -1,\n   \"name\": \"CO2 Max\",\n   \"description\": \"CO2 maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 45,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 14,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 14,\n   \"active\": -1,\n   \"name\": \"CO2 Dev\",\n   \"description\": \"CO2 standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 50,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 15,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 15,\n   \"active\": -1,\n   \"name\": \"P.Flow\",\n   \"description\": \"P.Flow\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": 10,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 55,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 7,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 16,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 16,\n   \"active\": -1,\n   \"name\": \"P.Flow Min\",\n   \"description\": \"P.Flow minimum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 60,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 17,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 17,\n   \"active\": -1,\n   \"name\": \"P.Flow Max\",\n   \"description\": \"P.Flow maximum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 65,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 18,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 18,\n   \"active\": -1,\n   \"name\": \"P.Flow Dev\",\n   \"description\": \"P.Flow standard deviation\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 70,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 19,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 19,\n   \"active\": -1,\n   \"name\": \"Air H2S\",\n   \"description\": \"H2S\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 5,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 75,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 600,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 4,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 20,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 20,\n   \"active\": -1,\n   \"name\": \"H2S Min\",\n   \"description\": \"H2S minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 80,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 21,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 21,\n   \"active\": -1,\n   \"name\": \"H2S Max\",\n   \"description\": \"H2S maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 85,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 22,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 22,\n   \"active\": -1,\n   \"name\": \"H2S Dev\",\n   \"description\": \"H2S standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 90,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 23,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 23,\n   \"active\": 0,\n   \"name\": \"AirT\",\n   \"description\": \"AirT\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 95,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 24,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 24,\n   \"active\": 0,\n   \"name\": \"AirT Min\",\n   \"description\": \"AirT minimum\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 100,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 25,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 25,\n   \"active\": 0,\n   \"name\": \"AirT Max\",\n   \"description\": \"AirT maximum\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 105,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 26,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 26,\n   \"active\": 0,\n   \"name\": \"AirT Dev\",\n   \"description\": \"AirT standard deviation\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 110,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 27,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 27,\n   \"active\": 0,\n   \"name\": \"AirRH\",\n   \"description\": \"AirRH\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 115,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 28,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 28,\n   \"active\": 0,\n   \"name\": \"AirRH Min\",\n   \"description\": \"AirRH minimum\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 120,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 29,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 29,\n   \"active\": 0,\n   \"name\": \"AirRH Max\",\n   \"description\": \"AirRH maximum\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 125,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 30,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 30,\n   \"active\": 0,\n   \"name\": \"AirRH Dev\",\n   \"description\": \"AirRH standard deviation\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 130,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 31,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 31,\n   \"active\": 0,\n   \"name\": \"Wind Speed\",\n   \"description\": \"Wind Speed\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 135,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 32,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 32,\n   \"active\": 0,\n   \"name\": \"Wind Speed Min\",\n   \"description\": \"Wind Speed minimum\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 140,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 33,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 33,\n   \"active\": 0,\n   \"name\": \"Wind Speed Max\",\n   \"description\": \"Wind Speed maximum\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 145,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 34,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 34,\n   \"active\": 0,\n   \"name\": \"Wind Speed Dev\",\n   \"description\": \"Wind Speed standard deviation\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 150,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 35,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 35,\n   \"active\": 0,\n   \"name\": \"Wind Dir\",\n   \"description\": \"Wind Dir\",\n   \"unit\": \"°N\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 155,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 36,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 36,\n   \"active\": 0,\n   \"name\": \"Wind Dir Min\",\n   \"description\": \"Wind Dir minimum\",\n   \"unit\": \"°N\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 160,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 37,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 37,\n   \"active\": 0,\n   \"name\": \"Wind DirMax\",\n   \"description\": \"Wind Dir maximum\",\n   \"unit\": \"°N\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 165,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 38,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 38,\n   \"active\": 0,\n   \"name\": \"Wind Dir Dev\",\n   \"description\": \"Wind Dir standard deviation\",\n   \"unit\": \"°N\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 170,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 39,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 39,\n   \"active\": -1,\n   \"name\": \"Bar.P\",\n   \"description\": \"Bar.P\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": 11,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 175,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 8,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 40,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 40,\n   \"active\": -1,\n   \"name\": \"Bar.P Min\",\n   \"description\": \"Bar.P minimum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 180,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 41,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 41,\n   \"active\": -1,\n   \"name\": \"Bar.P Max\",\n   \"description\": \"Bar.P maximum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 185,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 42,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 42,\n   \"active\": -1,\n   \"name\": \"Bar.P Dev\",\n   \"description\": \"Bar.P standard deviation\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 190,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 43,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 43,\n   \"active\": -1,\n   \"name\": \"CO2 FLUX\",\n   \"description\": \"CO2 FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 5000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 3,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1100,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 2,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 44,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 44,\n   \"active\": -1,\n   \"name\": \"CO2 ERRQ\",\n   \"description\": \"CO2 ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": 4,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1099,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 3,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 45,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 45,\n   \"active\": -1,\n   \"name\": \"CO2 LEFT LIMIT\",\n   \"description\": \"CO2 LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 46,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 46,\n   \"active\": -1,\n   \"name\": \"CO2 RIGHT LIMIT\",\n   \"description\": \"CO2 RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 47,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 47,\n   \"active\": -1,\n   \"name\": \"H2S FLUX\",\n   \"description\": \"H2S FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 5000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 6,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 1100,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 5,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 48,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 48,\n   \"active\": -1,\n   \"name\": \"H2S ERRQ\",\n   \"description\": \"H2S ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": 7,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 1099,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 6,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 49,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 49,\n   \"active\": -1,\n   \"name\": \"H2S LEFT LIMIT\",\n   \"description\": \"H2S LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 50,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 50,\n   \"active\": -1,\n   \"name\": \"H2S RIGHT LIMIT\",\n   \"description\": \"H2S RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 51,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 51,\n   \"active\": -1,\n   \"name\": \"W.Speed\",\n   \"description\": \"Sonic Wind Speed\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 60,\n   \"lowscale\": 0,\n   \"rowonpanel\": 15,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AB\",\n   \"rs485conftype\": \"D7\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 12,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 52,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 52,\n   \"active\": -1,\n   \"name\": \"W.Dir\",\n   \"description\": \"Sonic Wind Direction\",\n   \"unit\": \"°N\",\n   \"fullscale\": 359,\n   \"lowscale\": 0,\n   \"rowonpanel\": 16,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AC\",\n   \"rs485conftype\": \"D8\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 13,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 53,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 53,\n   \"active\": -1,\n   \"name\": \"Rain\",\n   \"description\": \"Rain fall gauge AB_II\",\n   \"unit\": \"mm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 17,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AD\",\n   \"rs485conftype\": \"DF\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 14,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 54,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 54,\n   \"active\": -1,\n   \"name\": \"Air.T.\",\n   \"description\": \"Air temperature A.Box\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": -30,\n   \"rowonpanel\": 18,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AA\",\n   \"rs485conftype\": \"D9\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 15,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 55,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 55,\n   \"active\": -1,\n   \"name\": \"Air R.H.\",\n   \"description\": \"Air relative humidity A.Box\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 19,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"A9\",\n   \"rs485conftype\": \"DA\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 16,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 56,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 56,\n   \"active\": -1,\n   \"name\": \"Soil R.H.\",\n   \"description\": \"SOIL BOX R.H.\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 13,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"01\",\n   \"rs485conftype\": \"A0\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 10,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 57,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 57,\n   \"active\": 0,\n   \"name\": \"Soil R.H. RAW\",\n   \"description\": \"SOIL BOX R.H. RAW\",\n   \"unit\": \"uSec\",\n   \"fullscale\": 35,\n   \"lowscale\": 15,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"02\",\n   \"rs485conftype\": \"A1\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 58,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 58,\n   \"active\": -1,\n   \"name\": \"Soil T.\",\n   \"description\": \"SOIL BOX Temperature\",\n   \"unit\": \"°C\",\n   \"fullscale\": 200,\n   \"lowscale\": 0,\n   \"rowonpanel\": 14,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"03\",\n   \"rs485conftype\": \"22\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 11,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 59,\n   \"stationid\": \"TFE01\",\n   \"channelid\": 59,\n   \"active\": 0,\n   \"name\": \"Soil T. RAW\",\n   \"description\": \"SOIL BOX Temperature RAW\",\n   \"unit\": \"Ohm\",\n   \"fullscale\": 200,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 1,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": null,\n   \"cutoff_downlimit\": null,\n   \"cutoff_uplimit\": null,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"04\",\n   \"rs485conftype\": \"A2\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 1,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 60,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 60,\n   \"active\": -1,\n   \"name\": \"RecordID\",\n   \"description\": \"RecordID\",\n   \"unit\": \"\",\n   \"fullscale\": 32768,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 1,\n   \"datalen\": 5,\n   \"datafmt\": \"#####\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 61,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 61,\n   \"active\": -1,\n   \"name\": \"Date\",\n   \"description\": \"Analisys date\",\n   \"unit\": \"\",\n   \"fullscale\": 0,\n   \"lowscale\": 0,\n   \"rowonpanel\": 1,\n   \"panelpage\": 2,\n   \"formatstring\": null,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 6,\n   \"datalen\": 12,\n   \"datafmt\": \"\",\n   \"dataformattype\": 4,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 62,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 62,\n   \"active\": -1,\n   \"name\": \"P.Supply\",\n   \"description\": \"Power supply\",\n   \"unit\": \"V\",\n   \"fullscale\": 25.5,\n   \"lowscale\": 0,\n   \"rowonpanel\": 11,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 0.1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 1,\n   \"activethresholds\": 0,\n   \"upalarm\": 14.5,\n   \"upprealarm\": 13.9,\n   \"dnprealarm\": 10.9,\n   \"dnalarm\": 11.3,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 18,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 16,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 9,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 63,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 63,\n   \"active\": -1,\n   \"name\": \"DeltaT\",\n   \"description\": \"Interval between samples\",\n   \"unit\": \"s\",\n   \"fullscale\": 10,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 0.01,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 22,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 64,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 64,\n   \"active\": -1,\n   \"name\": \"Num.Samples\",\n   \"description\": \"Number of samples in flux curves\",\n   \"unit\": \"#\",\n   \"fullscale\": 1000,\n   \"lowscale\": 1,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 25,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 65,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 65,\n   \"active\": -1,\n   \"name\": \"CO2 FS\",\n   \"description\": \"Carbon dioxide (Ch0) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 10000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 4,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 30,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 2,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 66,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 66,\n   \"active\": 0,\n   \"name\": \"H2S FS\",\n   \"description\": \"Hydrogen sulphide (Ch2) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 66,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 67,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 67,\n   \"active\": -1,\n   \"name\": \"Flux Curves\",\n   \"description\": \"Avalaible flux curves\",\n   \"unit\": \"\",\n   \"fullscale\": 255,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 28,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 68,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 68,\n   \"active\": 0,\n   \"name\": \"C/S C.Ratio\",\n   \"description\": \"CO2/H2S Concentration ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 660,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 128,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 69,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 69,\n   \"active\": 0,\n   \"name\": \"C/S F.Ratio\",\n   \"description\": \"CO2/H2S flux ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 663,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 127,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 70,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 70,\n   \"active\": -1,\n   \"name\": \"CO2\",\n   \"description\": \"CO2\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 6,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 35,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 71,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 71,\n   \"active\": -1,\n   \"name\": \"CO2 Min\",\n   \"description\": \"CO2 minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 40,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 72,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 72,\n   \"active\": -1,\n   \"name\": \"CO2 Max\",\n   \"description\": \"CO2 maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 45,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 107,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 107,\n   \"active\": 0,\n   \"name\": \"H2S ERRQ\",\n   \"description\": \"H2S ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 799,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 73,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 73,\n   \"active\": -1,\n   \"name\": \"CO2 Dev\",\n   \"description\": \"CO2 standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 50,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 74,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 74,\n   \"active\": -1,\n   \"name\": \"P.Flow\",\n   \"description\": \"P.Flow\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": 9,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 55,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 13,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 75,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 75,\n   \"active\": -1,\n   \"name\": \"P.Flow Min\",\n   \"description\": \"P.Flow minimum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 60,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 76,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 76,\n   \"active\": -1,\n   \"name\": \"P.Flow Max\",\n   \"description\": \"P.Flow maximum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 65,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 77,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 77,\n   \"active\": -1,\n   \"name\": \"P.Flow Dev\",\n   \"description\": \"P.Flow standard deviation\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 70,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 78,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 78,\n   \"active\": 0,\n   \"name\": \"H2S\",\n   \"description\": \"H2S\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 7,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 75,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 4,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 79,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 79,\n   \"active\": 0,\n   \"name\": \"H2S Min\",\n   \"description\": \"H2S minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 80,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 80,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 80,\n   \"active\": 0,\n   \"name\": \"H2S Max\",\n   \"description\": \"H2S maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 85,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 81,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 81,\n   \"active\": 0,\n   \"name\": \"H2S Dev\",\n   \"description\": \"H2S standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 90,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 82,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 82,\n   \"active\": 0,\n   \"name\": \"Ch.3\",\n   \"description\": \"Ch.3\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 95,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 83,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 83,\n   \"active\": 0,\n   \"name\": \"Ch.3 Min\",\n   \"description\": \"Ch.3 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 100,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 84,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 84,\n   \"active\": 0,\n   \"name\": \"Ch.3 Max\",\n   \"description\": \"Ch.3 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 105,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 85,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 85,\n   \"active\": 0,\n   \"name\": \"Ch.3 Dev\",\n   \"description\": \"Ch.3 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 110,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 86,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 86,\n   \"active\": 0,\n   \"name\": \"Ch.4\",\n   \"description\": \"Ch.4\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 115,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 87,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 87,\n   \"active\": 0,\n   \"name\": \"Ch.4 Min\",\n   \"description\": \"Ch.4 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 120,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 88,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 88,\n   \"active\": 0,\n   \"name\": \"Ch.4 Max\",\n   \"description\": \"Ch.4 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 125,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 89,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 89,\n   \"active\": 0,\n   \"name\": \"Ch.4 Dev\",\n   \"description\": \"Ch.4 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 130,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 90,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 90,\n   \"active\": 0,\n   \"name\": \"Ch.5\",\n   \"description\": \"Ch.5\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 135,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 91,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 91,\n   \"active\": 0,\n   \"name\": \"Ch.5 Min\",\n   \"description\": \"Ch.5 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 140,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 92,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 92,\n   \"active\": 0,\n   \"name\": \"Ch.5 Max\",\n   \"description\": \"Ch.5 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 145,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 93,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 93,\n   \"active\": 0,\n   \"name\": \"Ch.5 Dev\",\n   \"description\": \"Ch.5 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 150,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 94,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 94,\n   \"active\": 0,\n   \"name\": \"Ch.6\",\n   \"description\": \"Ch.6\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 155,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 95,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 95,\n   \"active\": 0,\n   \"name\": \"Ch.6 Min\",\n   \"description\": \"Ch.6 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 160,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 96,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 96,\n   \"active\": 0,\n   \"name\": \"Ch.6 Max\",\n   \"description\": \"Ch.6 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 165,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 97,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 97,\n   \"active\": 0,\n   \"name\": \"Ch.6 Dev\",\n   \"description\": \"Ch.6 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 170,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 98,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 98,\n   \"active\": -1,\n   \"name\": \"Bar.P\",\n   \"description\": \"Bar.P\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": 10,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 175,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 15,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 99,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 99,\n   \"active\": -1,\n   \"name\": \"Bar.P Min\",\n   \"description\": \"Bar.P minimum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 180,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 100,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 100,\n   \"active\": -1,\n   \"name\": \"Bar.P Max\",\n   \"description\": \"Bar.P maximum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 185,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 101,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 101,\n   \"active\": -1,\n   \"name\": \"Bar.P Dev\",\n   \"description\": \"Bar.P standard deviation\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 190,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 102,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 102,\n   \"active\": -1,\n   \"name\": \"CO2 FLUX\",\n   \"description\": \"CO2 FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 2,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1100,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 2,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 103,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 103,\n   \"active\": -1,\n   \"name\": \"CO2 ERRQ\",\n   \"description\": \"CO2 ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": 3,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1099,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 3,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 104,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 104,\n   \"active\": -1,\n   \"name\": \"CO2 LEFT LIMIT\",\n   \"description\": \"CO2 LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 105,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 105,\n   \"active\": -1,\n   \"name\": \"CO2 RIGHT LIMIT\",\n   \"description\": \"CO2 RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 106,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 106,\n   \"active\": 0,\n   \"name\": \"H2S FLUX\",\n   \"description\": \"H2S FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 5000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 800,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 108,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 108,\n   \"active\": 0,\n   \"name\": \"H2S LEFT LIMIT\",\n   \"description\": \"H2S LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 109,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 109,\n   \"active\": 0,\n   \"name\": \"H2S RIGHT LIMIT\",\n   \"description\": \"H2S RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 110,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 110,\n   \"active\": -1,\n   \"name\": \"W.Speed\",\n   \"description\": \"Sonic Wind Speed\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 60,\n   \"lowscale\": 0,\n   \"rowonpanel\": 18,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AB\",\n   \"rs485conftype\": \"D7\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 4,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 111,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 111,\n   \"active\": -1,\n   \"name\": \"W.Dir\",\n   \"description\": \"Sonic Wind Direction\",\n   \"unit\": \"°N\",\n   \"fullscale\": 359,\n   \"lowscale\": 0,\n   \"rowonpanel\": 19,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AC\",\n   \"rs485conftype\": \"D8\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 899,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 5,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 112,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 112,\n   \"active\": -1,\n   \"name\": \"Rain\",\n   \"description\": \"Rain fall gauge AB_II\",\n   \"unit\": \"mm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 13,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"30\",\n   \"rs485conftype\": \"C0\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 801,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 6,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 113,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 113,\n   \"active\": -1,\n   \"name\": \"Air.T.\",\n   \"description\": \"Air temperature A.Box\",\n   \"unit\": \"°C\",\n   \"fullscale\": 70,\n   \"lowscale\": -30,\n   \"rowonpanel\": 21,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AA\",\n   \"rs485conftype\": \"D9\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 950,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 7,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 114,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 114,\n   \"active\": -1,\n   \"name\": \"Air R.H.\",\n   \"description\": \"Air relative humidity A.Box\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 22,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"A9\",\n   \"rs485conftype\": \"DA\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 949,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 8,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 115,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 115,\n   \"active\": -1,\n   \"name\": \"Soil R.H.\",\n   \"description\": \"SOIL BOX R.H.\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 13,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"01\",\n   \"rs485conftype\": \"A0\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 9,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 116,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 116,\n   \"active\": 0,\n   \"name\": \"Soil R.H. RAW\",\n   \"description\": \"SOIL BOX R.H. RAW\",\n   \"unit\": \"uSec\",\n   \"fullscale\": 35,\n   \"lowscale\": 15,\n   \"rowonpanel\": 14,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"02\",\n   \"rs485conftype\": \"A1\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 10,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 117,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 117,\n   \"active\": -1,\n   \"name\": \"Soil T.\",\n   \"description\": \"SOIL BOX Temperature\",\n   \"unit\": \"°C\",\n   \"fullscale\": 200,\n   \"lowscale\": 0,\n   \"rowonpanel\": 15,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"03\",\n   \"rs485conftype\": \"22\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 11,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 118,\n   \"stationid\": \"HIE06\",\n   \"channelid\": 118,\n   \"active\": 0,\n   \"name\": \"Soil T. RAW\",\n   \"description\": \"SOIL BOX Temperature RAW\",\n   \"unit\": \"Ohm\",\n   \"fullscale\": 200,\n   \"lowscale\": 0,\n   \"rowonpanel\": 16,\n   \"panelpage\": 2,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"04\",\n   \"rs485conftype\": \"A2\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 3,\n   \"monitored\": 12,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 119,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 119,\n   \"active\": -1,\n   \"name\": \"RecordID\",\n   \"description\": \"RecordID\",\n   \"unit\": \"\",\n   \"fullscale\": 32768,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 1,\n   \"datalen\": 5,\n   \"datafmt\": \"#####\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 120,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 120,\n   \"active\": -1,\n   \"name\": \"Date\",\n   \"description\": \"Analisys date\",\n   \"unit\": \"\",\n   \"fullscale\": 0,\n   \"lowscale\": 0,\n   \"rowonpanel\": 1,\n   \"panelpage\": 3,\n   \"formatstring\": null,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 6,\n   \"datalen\": 12,\n   \"datafmt\": \"\",\n   \"dataformattype\": 4,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 121,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 121,\n   \"active\": -1,\n   \"name\": \"P.Supply\",\n   \"description\": \"Power supply\",\n   \"unit\": \"V\",\n   \"fullscale\": 15,\n   \"lowscale\": 10,\n   \"rowonpanel\": 11,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 0.1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 1,\n   \"activethresholds\": 0,\n   \"upalarm\": 14.5,\n   \"upprealarm\": 13.9,\n   \"dnprealarm\": 10.9,\n   \"dnalarm\": 11.3,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 18,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 16,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 9,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 122,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 122,\n   \"active\": -1,\n   \"name\": \"DeltaT\",\n   \"description\": \"Interval between samples\",\n   \"unit\": \"s\",\n   \"fullscale\": 10,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 0.01,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 22,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 123,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 123,\n   \"active\": -1,\n   \"name\": \"Num.Samples\",\n   \"description\": \"Number of samples in flux curves\",\n   \"unit\": \"#\",\n   \"fullscale\": 1000,\n   \"lowscale\": 1,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 25,\n   \"datalen\": 3,\n   \"datafmt\": \"###\",\n   \"dataformattype\": 0,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 124,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 124,\n   \"active\": -1,\n   \"name\": \"CO2 FS\",\n   \"description\": \"Carbon dioxide (Ch0) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 10000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 4,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 30,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 2,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 125,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 125,\n   \"active\": 0,\n   \"name\": \"H2S FS\",\n   \"description\": \"Hydrogen sulphide (Ch2) full scale value\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 66,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 126,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 126,\n   \"active\": -1,\n   \"name\": \"Flux Curves\",\n   \"description\": \"Avalaible flux curves\",\n   \"unit\": \"\",\n   \"fullscale\": 255,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 28,\n   \"datalen\": 2,\n   \"datafmt\": \"\",\n   \"dataformattype\": 255,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 127,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 127,\n   \"active\": 0,\n   \"name\": \"C/S C.Ratio\",\n   \"description\": \"CO2/H2S Concentration ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 660,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 128,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 128,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 128,\n   \"active\": 0,\n   \"name\": \"C/S F.Ratio\",\n   \"description\": \"CO2/H2S flux ratio\",\n   \"unit\": \"\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 663,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 127,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 129,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 129,\n   \"active\": -1,\n   \"name\": \"CO2\",\n   \"description\": \"CO2\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 2000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 6,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 35,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 130,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 130,\n   \"active\": -1,\n   \"name\": \"CO2 Min\",\n   \"description\": \"CO2 minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 40,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 131,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 131,\n   \"active\": -1,\n   \"name\": \"CO2 Max\",\n   \"description\": \"CO2 maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 45,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 132,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 132,\n   \"active\": -1,\n   \"name\": \"CO2 Dev\",\n   \"description\": \"CO2 standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 1000000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 50,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 133,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 133,\n   \"active\": -1,\n   \"name\": \"P.Flow\",\n   \"description\": \"P.Flow\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": 9,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 55,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 13,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 134,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 134,\n   \"active\": -1,\n   \"name\": \"P.Flow Min\",\n   \"description\": \"P.Flow minimum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 60,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 135,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 135,\n   \"active\": -1,\n   \"name\": \"P.Flow Max\",\n   \"description\": \"P.Flow maximum\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": -100,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 65,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 136,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 136,\n   \"active\": -1,\n   \"name\": \"P.Flow Dev\",\n   \"description\": \"P.Flow standard deviation\",\n   \"unit\": \"SCCM\",\n   \"fullscale\": 1400,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 70,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 1,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 137,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 137,\n   \"active\": -1,\n   \"name\": \"H2S\",\n   \"description\": \"H2S\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 7,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 75,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 4,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 138,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 138,\n   \"active\": -1,\n   \"name\": \"H2S Min\",\n   \"description\": \"H2S minimum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 80,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 139,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 139,\n   \"active\": -1,\n   \"name\": \"H2S Max\",\n   \"description\": \"H2S maximum\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 85,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 140,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 140,\n   \"active\": -1,\n   \"name\": \"H2S Dev\",\n   \"description\": \"H2S standard deviation\",\n   \"unit\": \"ppm\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 90,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 141,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 141,\n   \"active\": 0,\n   \"name\": \"Ch.3\",\n   \"description\": \"Ch.3\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 95,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 142,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 142,\n   \"active\": 0,\n   \"name\": \"Ch.3 Min\",\n   \"description\": \"Ch.3 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 100,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 143,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 143,\n   \"active\": 0,\n   \"name\": \"Ch.3 Max\",\n   \"description\": \"Ch.3 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 105,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 144,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 144,\n   \"active\": 0,\n   \"name\": \"Ch.3 Dev\",\n   \"description\": \"Ch.3 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 110,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 3,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 145,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 145,\n   \"active\": 0,\n   \"name\": \"Ch.4\",\n   \"description\": \"Ch.4\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 115,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 146,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 146,\n   \"active\": 0,\n   \"name\": \"Ch.4 Min\",\n   \"description\": \"Ch.4 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 120,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 147,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 147,\n   \"active\": 0,\n   \"name\": \"Ch.4 Max\",\n   \"description\": \"Ch.4 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 125,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 148,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 148,\n   \"active\": 0,\n   \"name\": \"Ch.4 Dev\",\n   \"description\": \"Ch.4 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 130,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 4,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 149,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 149,\n   \"active\": 0,\n   \"name\": \"Ch.5\",\n   \"description\": \"Ch.5\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 135,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 150,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 150,\n   \"active\": 0,\n   \"name\": \"Ch.5 Min\",\n   \"description\": \"Ch.5 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 140,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 151,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 151,\n   \"active\": 0,\n   \"name\": \"Ch.5 Max\",\n   \"description\": \"Ch.5 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 145,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 152,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 152,\n   \"active\": 0,\n   \"name\": \"Ch.5 Dev\",\n   \"description\": \"Ch.5 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 150,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 5,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 153,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 153,\n   \"active\": 0,\n   \"name\": \"Ch.6\",\n   \"description\": \"Ch.6\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 155,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 154,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 154,\n   \"active\": 0,\n   \"name\": \"Ch.6 Min\",\n   \"description\": \"Ch.6 minimum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 160,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 155,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 155,\n   \"active\": 0,\n   \"name\": \"Ch.6 Max\",\n   \"description\": \"Ch.6 maximum\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 165,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 156,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 156,\n   \"active\": 0,\n   \"name\": \"Ch.6 Dev\",\n   \"description\": \"Ch.6 standard deviation\",\n   \"unit\": \"V\",\n   \"fullscale\": 5,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 170,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 6,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 157,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 157,\n   \"active\": -1,\n   \"name\": \"Bar.P\",\n   \"description\": \"Bar.P\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 700,\n   \"lowscale\": 650,\n   \"rowonpanel\": 10,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 175,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": 500,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 15,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 158,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 158,\n   \"active\": -1,\n   \"name\": \"Bar.P Min\",\n   \"description\": \"Bar.P minimum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 180,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 159,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 159,\n   \"active\": -1,\n   \"name\": \"Bar.P Max\",\n   \"description\": \"Bar.P maximum\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 600,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 185,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 160,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 160,\n   \"active\": -1,\n   \"name\": \"Bar.P Dev\",\n   \"description\": \"Bar.P standard deviation\",\n   \"unit\": \"mBar\",\n   \"fullscale\": 1060,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 190,\n   \"datalen\": 5,\n   \"datafmt\": \"\",\n   \"dataformattype\": 1,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 7,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 0,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 161,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 161,\n   \"active\": -1,\n   \"name\": \"CO2 FLUX\",\n   \"description\": \"CO2 FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 5000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 2,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1100,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 2,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 162,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 162,\n   \"active\": -1,\n   \"name\": \"CO2 ERRQ\",\n   \"description\": \"CO2 ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": 3,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": 1099,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 3,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 163,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 163,\n   \"active\": -1,\n   \"name\": \"CO2 LEFT LIMIT\",\n   \"description\": \"CO2 LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 164,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 164,\n   \"active\": -1,\n   \"name\": \"CO2 RIGHT LIMIT\",\n   \"description\": \"CO2 RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 0,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 165,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 165,\n   \"active\": -1,\n   \"name\": \"H2S FLUX\",\n   \"description\": \"H2S FLUX\",\n   \"unit\": \"ppm/s\",\n   \"fullscale\": 5000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 61,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 800,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 166,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 166,\n   \"active\": -1,\n   \"name\": \"H2S ERRQ\",\n   \"description\": \"H2S ERRQ\",\n   \"unit\": \"\",\n   \"fullscale\": 1,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 62,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": 799,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 167,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 167,\n   \"active\": -1,\n   \"name\": \"H2S LEFT LIMIT\",\n   \"description\": \"H2S LEFT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 63,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 168,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 168,\n   \"active\": -1,\n   \"name\": \"H2S RIGHT LIMIT\",\n   \"description\": \"H2S RIGHT LIMIT\",\n   \"unit\": \"\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": -1,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 64,\n   \"rs485hexid\": \"\",\n   \"rs485conftype\": \"\",\n   \"phisicalchannel\": 2,\n   \"revisionpriority\": -1,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": -1,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 169,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 169,\n   \"active\": -1,\n   \"name\": \"W.Speed\",\n   \"description\": \"Sonic Wind Speed\",\n   \"unit\": \"m/s\",\n   \"fullscale\": 60,\n   \"lowscale\": 0,\n   \"rowonpanel\": 18,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AB\",\n   \"rs485conftype\": \"D7\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 4,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 170,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 170,\n   \"active\": -1,\n   \"name\": \"W.Dir\",\n   \"description\": \"Sonic Wind Direction\",\n   \"unit\": \"°N\",\n   \"fullscale\": 359,\n   \"lowscale\": 0,\n   \"rowonpanel\": 19,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AC\",\n   \"rs485conftype\": \"D8\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 899,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 5,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 171,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 171,\n   \"active\": -1,\n   \"name\": \"Rain\",\n   \"description\": \"Rain fall gauge AB_II\",\n   \"unit\": \"mm\",\n   \"fullscale\": 1000,\n   \"lowscale\": 0,\n   \"rowonpanel\": 20,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AD\",\n   \"rs485conftype\": \"DF\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 801,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 6,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 172,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 172,\n   \"active\": -1,\n   \"name\": \"Air.T.\",\n   \"description\": \"Air temperature A.Box\",\n   \"unit\": \"°C\",\n   \"fullscale\": 30,\n   \"lowscale\": -10,\n   \"rowonpanel\": 21,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"AA\",\n   \"rs485conftype\": \"D9\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 950,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 7,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 173,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 173,\n   \"active\": -1,\n   \"name\": \"Air R.H.\",\n   \"description\": \"Air relative humidity A.Box\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 22,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 0,\n   \"datalen\": 0,\n   \"datafmt\": \"\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"A9\",\n   \"rs485conftype\": \"DA\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 949,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 8,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 174,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 174,\n   \"active\": -1,\n   \"name\": \"Soil R.H.\",\n   \"description\": \"SOIL BOX R.H.\",\n   \"unit\": \"%\",\n   \"fullscale\": 100,\n   \"lowscale\": 0,\n   \"rowonpanel\": 13,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"01\",\n   \"rs485conftype\": \"A0\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 9,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 175,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 175,\n   \"active\": -1,\n   \"name\": \"Soil R.H. RAW\",\n   \"description\": \"SOIL BOX R.H. RAW\",\n   \"unit\": \"uSec\",\n   \"fullscale\": 40,\n   \"lowscale\": 25,\n   \"rowonpanel\": 14,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"02\",\n   \"rs485conftype\": \"A1\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 10,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 176,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 176,\n   \"active\": -1,\n   \"name\": \"Soil T.\",\n   \"description\": \"SOIL BOX Temperature\",\n   \"unit\": \"°C\",\n   \"fullscale\": 200,\n   \"lowscale\": 0,\n   \"rowonpanel\": 15,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"03\",\n   \"rs485conftype\": \"22\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 11,\n   \"displaypriority\": \"\"\n },\n {\n   \"id\": 177,\n   \"stationid\": \"TFE12\",\n   \"channelid\": 177,\n   \"active\": -1,\n   \"name\": \"Soil T. RAW\",\n   \"description\": \"SOIL BOX Temperature RAW\",\n   \"unit\": \"Ohm\",\n   \"fullscale\": 140,\n   \"lowscale\": 120,\n   \"rowonpanel\": 16,\n   \"panelpage\": 3,\n   \"formatstring\": 0,\n   \"gain\": 1,\n   \"offset\": 0,\n   \"function\": \"void\",\n   \"alarmtype\": 0,\n   \"activethresholds\": 0,\n   \"upalarm\": 0,\n   \"upprealarm\": 0,\n   \"dnprealarm\": 0,\n   \"dnalarm\": 0,\n   \"cutoff_active\": 0,\n   \"cutoff_downlimit\": 0,\n   \"cutoff_uplimit\": 0,\n   \"dataoffset\": 11,\n   \"datalen\": 0,\n   \"datafmt\": \"QLC\",\n   \"dataformattype\": 485,\n   \"rs485hexid\": \"04\",\n   \"rs485conftype\": \"A2\",\n   \"phisicalchannel\": -1,\n   \"revisionpriority\": 900,\n   \"channelscope\": \"void\",\n   \"monitoringgroup\": 2,\n   \"monitored\": 12,\n   \"displaypriority\": \"\"\n }\n]","x":510,"y":540,"wires":[]},{"id":"af491337.471378","type":"debug","z":"7475cc6f.ab0824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[15]","targetType":"msg","x":800,"y":720,"wires":[]},{"id":"64f78ad0.728d44","type":"function","z":"7475cc6f.ab0824","name":"","func":"msg.\nreturn msg;","outputs":1,"noerr":5,"x":870,"y":600,"wires":[[]]}]